{% extends "base.html" %}

{% block title %}Home | Bee-lektronics{% endblock %}

{% block content %}
    <section class="hero">
        <img src="static/images/honeycomb.jpg" alt="Picture of honeycomb">
        <div class="hero-text">
            <h1>Smart Devices, Honeypot deals</h1>
        </div>
        <p>Your one-stop hive for phones, computers & everything digital</p>

        <a href="{{ url_for('main.shop') }}" class="button-explore">Explore</a>
    </section>

    <section class="featured">
        <h2>What's buzzing right now</h2>
        <p>The tech everyone wants this season</p>

        <div class="carousel-featured">
            <!--TODO: LOOP THROUGH FEATURED PRODUCTS ONCE REAL DATA EXISTS, for now placeholder items below -->
            <div class="caorusel-item">
                <img src="https://placehold.co/300x300.png?text=Product+1" alt="Product 1 placeholder">
            </div>
            <div class="caorusel-item">
                <img src="https://placehold.co/300x300.png?text=Product+2" alt="Product 2 placeholder">
            </div>
            <div class="caorusel-item">
                <img src="https://placehold.co/300x300.png?text=Product+3" alt="Product 3 placeholder">
            </div>
            <div class="caorusel-item">
                <img src="https://placehold.co/300x300.png?text=Product+4" alt="Product 4 placeholder">
            </div>
        </div>
    </section>
{% endblock %}
